*{
    cursor: pointer;
}

button{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    ::ng-deep .mat-button-wrapper{
        width: 100%;
    }

    mat-icon{
        display: none;
    }

    label{
        margin-left: 0;
    }
}

@media (min-width: 576px) {
    button {
        mat-icon{
            display: inline-block;
        }

        label{
            margin-left: 5px;
        }
    }
}

// Value	Description
// xs	100%	Don't set the grid width for xs screens
// sm	540px	Set grid width to 540px when (min-width: 576px)
// md	720px	Set grid width to 720px when (min-width: 768px)
// lg	960px	Set grid width to 960px when (min-width: 992px)
// xl	1140px	Set grid width to 1140px when (min-width: 1200px)
