<h1 mat-dialog-title>Inicia sesión</h1>
<mat-dialog-content>
    <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="tryLogin()">
        <mat-form-field class="textField">
            <mat-label>Correo electrónico</mat-label>
            <input autocomplete="email" matInput formControlName="email" placeholder="ejemplo@dominio.com" type="email" required>
            <mat-error *ngIf="!loginForm.controls['email'].valid">Correo electrónico no válido</mat-error>
        </mat-form-field>
    
        <mat-form-field class="textField">
            <mat-label>Contraseña</mat-label>
            <input autocomplete="current-password" matInput formControlName="password" placeholder="********" type="password" required>
        </mat-form-field>

        <button mat-raised-button color="primary">Ingresar</button>
    </form>
</mat-dialog-content>