<mat-accordion (window:resize)="handleResize($event)">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>filter_list</mat-icon>
                Filtros
            </mat-panel-title>
            <mat-panel-description>Cambia qué documentos se mostrarán aquí</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-grid-list [cols]="filterCols" rowHeight="75px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Receptores</mat-label>
                    <mat-select multiple (valueChange)="changeFilter($event, 'receptor')">
                        <mat-select-trigger>
                            {{Filters.receptor ? Filters.receptor[0] : ''}}
    
                            <span *ngIf="Filters.receptor && Filters.receptor.length > 1" class="additional-selection">
                              (+{{Filters.receptor.length - 1}} {{Filters.receptor.length === 2 ? 'otro' : 'otros'}})
                            </span>
                        </mat-select-trigger>
    
                        <mat-option *ngFor="let r of Receptores" [value]="r">{{r}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Emisores</mat-label>
                    <mat-select multiple (valueChange)="changeFilter($event, 'emisor')">
                        <mat-select-trigger>
                            {{Filters.emisor ? Filters.emisor[0] : ''}}
    
                            <span *ngIf="Filters.emisor && Filters.emisor.length > 1" class="additional-selection">
                              (+{{Filters.emisor.length - 1}} {{Filters.emisor.length === 2 ? 'otro' : 'otros'}})
                            </span>
                        </mat-select-trigger>
    
                        <mat-option *ngFor="let e of Emisores" [value]="e">{{e}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput disabled #datePickerStartInput [matDatepicker]="datePickerStart">
                    <mat-hint>MM/AAAA</mat-hint>

                    <mat-datepicker-toggle matSuffix [for]="datePickerStart"></mat-datepicker-toggle>

                    <mat-datepicker
                        #datePickerStart
                        startView="multi-year"
                        disabled="false"
                        [touchUi]="useDateDialog"
                        (monthSelected)="changeDate($event, datePickerStart, 'desdeFecha')">

                        <mat-datepicker-actions>
                            <button (click)="removeDate(datePickerStartInput, 'desdeFecha')" mat-button matDatepickerCancel color="warn">Remover</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de fin</mat-label>
                    <input matInput #datePickerEndInput [matDatepicker]="datePickerEnd" disabled="true">
                    <mat-hint>MM/AAAA</mat-hint>

                    <mat-datepicker-toggle matSuffix [for]="datePickerEnd"></mat-datepicker-toggle>

                    <mat-datepicker
                        #datePickerEnd
                        startView="multi-year"
                        disabled="false"
                        [touchUi]="useDateDialog"
                        (monthSelected)="changeDate($event, datePickerEnd, 'hastaFecha')">

                        <mat-datepicker-actions>
                            <button (click)="removeDate(datePickerEndInput, 'hastaFecha')" mat-button matDatepickerCancel color="warn">Remover</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de CFDI</mat-label>
                    <mat-select multiple (valueChange)="changeFilter($event, 'tipo')">
                        <mat-select-trigger>
                            {{Filters.tipo ? Filters.tipo[0] : ''}}
    
                            <span *ngIf="Filters.tipo && Filters.tipo.length > 1" class="additional-selection">
                              (+{{Filters.tipo.length - 1}} {{Filters.tipo.length === 2 ? 'otro' : 'otros'}})
                            </span>
                        </mat-select-trigger>
    
                        <mat-option *ngFor="let t of Tipos" [value]="t">{{readableTipoComprobante(t)}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Método de pago</mat-label>
                    <mat-select multiple (valueChange)="changeFilter($event, 'metodoPago')">
                        <mat-select-trigger>
                            {{Filters.metodoPago ? Filters.metodoPago[0] : ''}}
    
                            <span *ngIf="Filters.metodoPago && Filters.metodoPago.length > 1" class="additional-selection">
                              (+{{Filters.metodoPago.length - 1}} {{Filters.metodoPago.length === 2 ? 'otro' : 'otros'}})
                            </span>
                        </mat-select-trigger>
    
                        <mat-option *ngFor="let m of MetodosPago" [value]="m">{{readableMetodoPago(m)}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Forma de pago</mat-label>
                    <mat-select multiple (valueChange)="changeFilter($event, 'formaPago')">
                        <mat-select-trigger>
                            {{Filters.formaPago ? Filters.formaPago[0] : ''}}
    
                            <span *ngIf="Filters.formaPago && Filters.formaPago.length > 1" class="additional-selection">
                              (+{{Filters.formaPago.length - 1}} {{Filters.formaPago.length === 2 ? 'otro' : 'otros'}})
                            </span>
                        </mat-select-trigger>
    
                        <mat-option *ngFor="let f of FormasPago" [value]="f">{{readableFormaPago(f)}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
</mat-accordion>