<landing-toolbar></landing-toolbar>


<div class="content">
    <div class="leftSide">
        <img src="../../../favicon.ico">
    </div>
    <div class="rightSide">
        <mat-tab-group class="register-type" mat-align-tabs="center">
            <mat-tab>
                <ng-template mat-tab-label>
                    <icon-button iconName="person" buttonColor="primary" iconColor="primary" label="Soy una persona física"></icon-button>
                </ng-template>

                <user-register-stepper></user-register-stepper>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <icon-button iconName="account_balance" buttonColor="primary" iconColor="primary" label="Soy una empresa"></icon-button>
                </ng-template>
                <form class="registerForm">
                    Contenido empresa
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>