<mat-grid-list (window:resize)="handleResize($event)" [cols]="Cols" rowHeight="75px">
    <form class="registerForm" [formGroup]="userData" (ngSubmit)="confirmEdit()">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Razón social</mat-label>
                <input autocomplete="nickname" matInput formControlName="displayName" placeholder="Nombre(s)" type="text" required>
                <mat-error *ngIf="userData.controls['displayName'].hasError('required')">Ingrese una razón social.</mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Clave RFC</mat-label>
                <input autocomplete="none" matInput formControlName="RFC" placeholder="Ej. MELJ9505281J5" type="text" required>
                <mat-error *ngIf="!userData.controls['RFC'].valid">Ingrese un RFC válido</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <button mat-raised-button type="submit" color="primary">Editar empresa</button>
        </mat-grid-tile>
    </form>    

    <mat-grid-tile>
        <icon-button (click)="openDeleteDialog();" iconName="delete" label="Eliminar" iconColor="warn" buttonColor="warn"></icon-button>
    </mat-grid-tile>
</mat-grid-list>