<app-card-table 
    *ngIf="!showLoadingTable"
    [inputData]="xmlsData" 
    [tableColumns]="xmlsCols"
    [noContentLabel]="selectedUser ? 'El usuario ' + selectedUser.DisplayName + ' no tiene ningún documento cargado.' : ''"
    [noContentSubLabel]="selectedUser ? 'Utilice el botón inferior derecho para subir nuevos archivos para éste usuario.' : ''"
></app-card-table>

<mat-spinner *ngIf="showLoadingTable"></mat-spinner>
<fab-file-button buttonColor="primary" iconName="note_add" (onDocumentsLoaded)="onDocumentsLoad($event)"></fab-file-button>