<div *ngIf="inputData.length > 0 && tableColumns.length > 0">
    <table  #dataTable mat-table [dataSource]="tableDataSource" multiTemplateDataRows>
        <tr class="row-header" mat-header-row *matHeaderRowDef="tableColumns"></tr> 
    
        <ng-container matColumnDef="Concepto"]>
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por concepto">Concepto(s)</th>
            <td [style]="'max-width: 15%;'" mat-cell *matCellDef="let cfdi">{{getConcepts(cfdi.Conceptos)}}</td>
        </ng-container>
    
        <ng-container matColumnDef="Emisor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por emisor">Emisor</th>
            <td mat-cell *matCellDef="let cfdi">{{cfdi.Emisor._Nombre}}</td>
        </ng-container>
    
        <ng-container matColumnDef="Receptor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por receptor" >Receptor</th>
            <td mat-cell *matCellDef="let cfdi">{{cfdi.Receptor._Nombre}}</td>
        </ng-container>
    
        <ng-container matColumnDef="Subtotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por subtotal">Subtotal</th>
            <td mat-cell *matCellDef="let cfdi">{{formatAsMoney(cfdi._SubTotal)}}</td>
        </ng-container>
 
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="tableColumns.length">
              <div 
                [@detailExpand]="expandedElement && expandedElement == element._NoCertificado ? 'expanded' : 'collapsed'"
                class="element-detail">

                <table-xml-details (confirmDelete)="emitDeleteDocument($event)" [XmlData]="element"></table-xml-details>
              </div>
            </td>
        </ng-container>

        <tr 
            mat-row *matRowDef="let row; columns: tableColumns;"
            [class.expanded-row]="expandedElement == row._NoCertificado"
            (click)="changeExpandedElement(row._NoCertificado)"
            [class.expanded-row]="expandedElement == row._NoCertificado"
            class="element-row"
        ></tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>

    <mat-paginator 
        #tablePaginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons >
    </mat-paginator>
</div>

<div *ngIf="!(inputData.length > 0 && tableColumns.length > 0)" class="noContent">
    <a [routerLink]="onNoContentReRoute" >
        <div>
            <mat-card-title>{{noContentLabel}}</mat-card-title>
        </div>
        <mat-card-subtitle>{{noContentSubLabel}}</mat-card-subtitle>
    </a>
</div>
