table{
    width: 100%;

    .mat-header-cell{
        font-size: medium;
        color: black;
        font-weight: 600;
    }

    .mat-cell{
        padding: 0.5vw;
    }

    .mat-cell:first-of-type{
        padding: 1vw;
    }
}

.noContent{
    width: 100%;
    text-align: center;
    padding: 2vh;
    padding-top: 6vh;
}

a{
    text-decoration: none;
}

@media (min-width: 576px){
    .noContent{
        height: 100%;
    }
}