.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5vh;



    .segment{
        margin-right: 3vw;
        pre{
            margin-bottom: 0;
        }
    }

    icon-button{
        margin-left: auto;
    }
}
