.spacer{
    flex: 1 1 auto;
}

mat-toolbar{
    background: #3f51b5;
    height: 64px;

    .menu-button{
        color: white;
    }

    icon-button{
        ::ng-deep mat-icon, ::ng-deep label{
            color: white;
        }
    }

    icon-button, .icon-button, .user-button{
        height: 80%;
    }
    
    .logo-icon{
        height: 80%;
        button {
            height: 100%;
            display: flex;
            align-items: center;

            ::ng-deep .mat-button-wrapper{
                height: 100%;
            }
        }
        img{
            height: 100%;
        }
    }
}

.home-drawer{
    height: calc(100% - 64px);

    mat-drawer{
        max-width: 250px;
        height: 100%;

        a{
            cursor: pointer !important;
            text-decoration: none;
        }
        
        .no-associates{
            padding: 16px;
            text-align: center;
        }
    }
}