<mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
    </button>

    <a [routerLink]="['/app']" class="logo-icon"><button class="logo-icon" mat-button ><img src="../../assets/logo.svg"></button></a>
    
    <span class="spacer"></span>

    <div class="user-button" *ngIf="user">
        <icon-button [matMenuTriggerFor]="userMenu" [label]="user.DisplayName" iconName="person"></icon-button>

        <mat-menu #userMenu>
            <button [routerLink]="['/app', 'profile']" mat-menu-item>
                <span>Mi perfíl</span>
            </button>
            <button (click)="logOut();" mat-menu-item>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>


<mat-drawer-container autosize class="home-drawer" (window:resize)="handleResize($event);" [hasBackdrop]="drawerBackdrop">
    <mat-drawer #drawer [mode]="drawerMode" [opened]="shouldDrawerOpen">
        <mat-selection-list multiple="false">
            <a [routerLink]="['/app']">
                <mat-list-option>
                    <mat-icon color="primary" mat-list-icon>folder</mat-icon>
                    <div mat-line>Mis documentos</div>
                </mat-list-option>
            </a>

            <mat-divider></mat-divider>
            
            <div mat-subheader>
                <label>Mis asociados</label>
                <span class="spacer"></span>

                <a mat-icon-button [routerLink]="['/app', 'associates']">
                    <mat-icon mat-list-icon>person_add</mat-icon>
                </a>
            </div>

            <mat-progress-bar mode="indeterminate" *ngIf="showLoadingClients"></mat-progress-bar>

            <div  *ngIf="!showLoadingClients">
                <a *ngFor="let client of userClients" [routerLink]="['/app', 'associates', client.RFC]">
                    <mat-list-option [value]="client.RFC">
                        <mat-icon color="primary" mat-list-icon>folder_shared</mat-icon>
                        <div mat-line>{{client.DisplayName}}</div>
                    </mat-list-option>
                </a>
    
                <div *ngIf="userClients.length == 0" class="no-associates">
                    <mat-card-subtitle>
                        No tienes ningún asociado. Puede agregarlos con el botón [<mat-icon>person_add</mat-icon>] de arriba.
                    </mat-card-subtitle>
                </div>
            </div>
        </mat-selection-list>
    </mat-drawer>
    
    <router-outlet></router-outlet>
</mat-drawer-container>
