.spacer{
    flex: 1 1 auto;
}

mat-toolbar{
    height: 64px;
    icon-button, .icon-button{
        height: 80%;
    }
    
    .logo-icon{
        height: 100%;
        img{
            height: 90%;
        }
    }
}

.home-drawer{
    height: calc(100% - 64px);

    mat-drawer{
        max-width: 250px;
        height: 100%;

        a{
            text-decoration: none;
        }

        .no-associates{
            padding: 16px;
            text-align: center;
        }
    }
}