<mat-stepper [orientation]="orientation" [linear]="true" #personStepper>
    <mat-step [editable]="isEditable" errorMessage="Hay errores en algunos campos" [stepControl]="emailGroup">
        <ng-template matStepLabel>Datos de registro</ng-template>

        <form class="registerForm" [formGroup]="emailGroup">
            <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input autocomplete="email" matInput formControlName="email" placeholder="ejemplo@dominio.com" type="email" required>
                <mat-error *ngIf="!emailGroup.controls['email'].valid">Correo electrónico no válido</mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input #pass autocomplete="new-password" matInput formControlName="password" placeholder="Al menos 8 caracteres" type="password" minlength="8" required>
                <mat-error *ngIf="emailGroup.controls['password'].hasError('required')">Ingrese una contraseña</mat-error>
                <mat-error *ngIf="emailGroup.controls['password'].hasError('minlength') && !emailGroup.controls['password'].hasError('required')">La contraseña debe contener al menos 8 caracteres</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Repetir contraseña</mat-label>
                <input #repeatPass autocomplete="new-password" matInput formControlName="repeatPassword" placeholder="**********" type="password" minlength="8" required>
                <mat-error *ngIf="emailGroup.controls['password'].valid && emailGroup.controls['repeatPassword'].errors?.['equals']">Las contraseñas no coinciden</mat-error>
            </mat-form-field>

            <button mat-raised-button matStepperNext color="primary">Continuar</button>
        </form>
    </mat-step>

    <mat-step [editable]="isEditable" errorMessage="Hay errores en algunos campos" [stepControl]="enterpriseData">
        <ng-template matStepLabel>Datos de la empresa</ng-template>

        <form class="registerForm" [formGroup]="enterpriseData" (ngSubmit)="createNewEnterprise()">
            <mat-form-field>
                <mat-label>Razón social</mat-label>
                <input autocomplete="none" matInput formControlName="name" placeholder="Nombre de la empresa" type="text" required>
                <mat-error *ngIf="enterpriseData.controls['name'].hasError('required')">Ingrese el nombre de la empresa</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Clave RFC</mat-label>
                <input autocomplete="none" matInput formControlName="RFC" placeholder="Ej. MEL9505281J5" type="text" minlength="13" required>
                <mat-error *ngIf="!enterpriseData.controls['RFC'].valid">Ingrese un RFC válido</mat-error>
            </mat-form-field>

            <button mat-raised-button matStepperNext color="primary">Crear empresa</button>
        </form>
    </mat-step>
</mat-stepper>